
Debug
Device
File
.vs
bin
Debug
ipch
Release
ColdEye.sdf
ColdEye.sln
ColdEye.VC.db
Release
res
x64
/ColdEye/cold_eye.db
/ColdEye/ColdEye.aps
/ColdEye/ColdEye.vcxproj
/ColdEye/ColdEye.vcxproj.filters
/ColdEye/ColdEye.vcxproj.user
/ColdEye/ReadMe.txt
/ColdEye/ColdEye.rc
Utils
DuiLib.dll
DuiLib.lib
DuiLib_d.dll
DuiLib_d.lib
UILib.cpp
Control
Core
Layout
bin
lib
lib
sqlite3.c
/open_cold_eye.bat
/ColdEye/voice_g711a_alarm
