/*
!/ColdEye/*.cpp
!/ColdEye/*.h
!/ColdEye/Database
!/ColdEye/Device
!/ColdEye/File
!/ColdEye/Pattern
!/ColdEye/UI
!/Libs/DuiLib/*.cpp
!/Libs/DuiLib/*.h
!/Libs/DuiLib/*.cpp
!/Libs/DuiLib/*.h
!/Libs/DuiLib/*.cpp
!/Libs/DuiLib/*.h
!/Resource/*.xml
